<nav class="navbar navbar-light bg-light">
    <form class="container-fluid justify-content-between">
        <h1 class="">Home</h1>
        <a href="/logOut" class="btn btn-outline-success me-2"  type="button">Log Out</a>

    </form>
</nav>
<div class="row d-flex align-items-center justify-content-center">
    {{#each data}}

        <div class="card m-3" style="width: 18rem;">
            <img class="card-img-top" src="{{this.image}}" alt="Card image cap" />
            <div class="card-body">
                <h5 class="card-title">{{this.name}}</h5>
                <p class="card-text">{{this.description}}</p>
                <a href="#" class="btn btn-lg btn-primary disabled">{{this.price}}</a>
            </div>
        </div>

    {{/each}}
</div>

<section class="m-2 mx-5 al d-flex justify-content-center">
    <div class="row d-flex flex-column align-items-between" style="width: 18rem;">
        <h3>Items</h3>
        {{#each data}}
            <ul class="list-group">

                <li class="list-group-item">{{this.name}}</li>
            </ul>
        {{/each}}
    </div>
</section>

<section class="m-5">

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Price</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.description}}</td>
                    <td>{{this.price}}</td>
                </tr>
            {{/each}}
        </tbody>
    </table>
</section>